// Config
$img: '../../img/';
$svg: $img + 'svg/';

// Colors
$simpl: #E52D2D;

/* Useful @media breakpoints: */

// Extra small
$xs: 320px;

// Small screens
$sm: 576px;

// Medium screens
$md: 768px;

// Large screens
$lg: 992px;

// Extra large screens
$xl: 1200px;

// Extra extra large screens
$xxl: 1400px;
