section.home {
  row-gap: 2vmin;
  display: flex;
  flex-direction: column;

  section.card {
    display: flex;
    padding: 2vmin;
    border-radius: 1vmin;
    background-color: #FEFEFE;

    @include box-shadow(0 0 .8vmin 0 rgb(0 0 0 / .25));

    div.o, div.x {
      width: 4vmin;
      height: 4vmin;
    }

    &.small {
      padding: 1vmin;
    }
  }

  div.tic-tac-toe {
    section.field {
      display: flex;
      row-gap: .2vmin;
      position: relative;
      background-color: #000;
      flex-direction: column;

      div.row {
        column-gap: .2vmin;

        div.col {
          width: 24vmin;
          height: 24vmin;
          background-color: #FEFEFE;

          div.o, div.x {
            width: 100%;
            height: 100%;
          }
        }
      }

      div.h-line, div.v-line, div.d-line-l, div.d-line-r {
        position: absolute;
        pointer-events: none;
      }

      div.h-line {
        width: 100%;
        height: 2vmin;
      }

      div.v-line, div.d-line-l, div.d-line-r {
        width: 2vmin;
      }

      div.v-line {
        height: 100%;
      }

      div.d-line-l, div.d-line-r {
        top: -15%;
        height: 130%;
        left: calc(50% - 1vmin);
      }

      div.d-line-l {
        transform: rotate(-45deg);
      }

      div.d-line-r {
        transform: rotate(45deg);
      }

      &.o-turn {
        div.row > div.col:empty:hover {
          position: relative;

          &::before, &::after {
            top: 50%;
            left: 50%;
            content: "";
            position: absolute;
            border-radius: 50%;
          }

          &::before {
            width: 80%;
            height: 80%;
            margin-top: -40%;
            margin-left: -40%;
            background-color: #EEE;
          }

          &::after {
            width: 60%;
            height: 60%;
            margin-top: -30%;
            margin-left: -30%;
            background-color: #FEFEFE;
          }
        }
      }

      &.x-turn {
        div.row > div.col:empty:hover {
          position: relative;

          &::before, &::after {
            top: 50%;
            left: 50%;
            width: 10%;
            content: "";
            height: 100%;
            margin-left: -5%;
            margin-top: -50%;
            position: absolute;
            background-color: #EEE;
          }

          &::before {
            transform: rotate(-45deg);
          }

          &::after {
            transform: rotate(45deg);
          }
        }
      }
    }
  }

  div.info {
    //width: 74.5vmin;
    column-gap: 2vmin;

    span.message {
      font-size: 2vmin;
    }

    div.scores {
      column-gap: 1vmin;
      flex-wrap: nowrap;

      div.score {
        height: 4vmin;
        min-width: 4vmin;
        font-size: 2vmin;
      }
    }

    div.reset, div.restart {
      cursor: pointer;

      > span {
        font-size: 4vmin;
      }

      &:hover {
        opacity: .8;
      }
    }

    div.credits {
      height: 2vmin;

      > span {
        font-size: 1.2vmin;
      }
    }
  }

  div.o {
    position: relative;

    &::before, &::after {
      top: 50%;
      left: 50%;
      content: "";
      position: absolute;
      border-radius: 50%;
    }

    &::before {
      width: 80%;
      height: 80%;
      margin-top: -40%;
      margin-left: -40%;
      background-color: #00f;
    }

    &::after {
      width: 60%;
      height: 60%;
      margin-top: -30%;
      margin-left: -30%;
      background-color: #FEFEFE;
    }
  }

  div.x {
    position: relative;

    &::before, &::after {
      top: 50%;
      left: 50%;
      width: 10%;
      content: "";
      height: 100%;
      margin-left: -5%;
      margin-top: -50%;
      position: absolute;
      background-color: #f00;
    }

    &::before {
      transform: rotate(-45deg);
    }

    &::after {
      transform: rotate(45deg);
    }
  }
}
